*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
    font-family: Montserrat, sans-serif;
    background: #f6f9ff;
    line-height: 1.3;
    font-size: 16px;
}

a {
    color: #4154f1;
    text-decoration: none;
}

nav{
    display: block;
}

.breadcrumb {
    font-size: 14px;
    font-family: sans-serif;
    color: #899bbd;
    font-weight: 600;
}

.breadcrumb .active {
    color: #51678f;
    font-weight: 600;
}


.breadcrumb a {
    color: #899bbd;
    transition: 0.3s;
}



.container h1{
    font-size: 24px;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #012970;
}

table{
    caption-side: bottom;
}

.main-table{
    padding: 2rem;
    margin-top: 4rem;
    font-family: "Open Sans", sans-serif;
    background: #ffffff;
    color: #444444;
}

.bg-dark{
    background-color: #012a70f3 !important;
}

.edit-form{
    padding: 3rem;
    background: #ffffff;
}

nav{
    margin-bottom: 1rem;
}
  
.heading-title{
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 600;
    color: #012970;
}


.alert-msg{
    display: flex;
    justify-content: right;
    margin-bottom: -2rem;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

input[type="search"]{
    font-size: 20px;
}

.h-custom {
    height: calc(100% - 73px);
}

.modal{
    top: -20%;
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

@media (max-width: 900px){
    .nav-item{
        text-align: center;
    }
    .login-img{
        display: none;
    }
    .vh-100{
        height: 52vh !important;
    }
}