<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
        .row{
            margin-bottom: 10px;
        }
        @media (max-width: 700px) {
            .col-sm-3{
                margin: 10px 0 10px 0px;
            }
        }
    </style>
</head>
<body>

    <!-- modals  -->

    <div class="modal fade" id="editModelForm" tabindex="-1" role="dialog" aria-labelledby="editModelForm" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Field</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>

                <form method="post">                    
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <input type="text" class="form-control" id="initialValue" name="initialValue" disabled>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="editField" name="editField" placeholder="Enter field value">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- modals  -->


    <!-- geo_modals -->
    <div class="modal fade" id="editModelFormGeo" tabindex="-1" role="dialog" aria-labelledby="editModelForm" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Field</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <!-- <form method="post" id="geoForm"> -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <input type="text" class="form-control" id="initialValueGeo" name="initialValueGeo" disabled>
                            </div>
                            <div class="col-6 d-flex">
                                <input type="text" class="form-control" id="editFieldGeo" name="editFieldGeo" placeholder="Detect Current Location" disabled>
                                <button class="btn btn-primary" id="detectLocation"><span><i class="fa fa-compass" aria-hidden="true"></i></span></button>
                            </div>
                            <p class="p-3">Wait for some second after click allow location </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" id="geo_location_submit" type="submit">Save changes</button>
                    </div>
                <!-- </form> -->

            </div>
        </div>
    </div>
    <!-- geo_modals -->


    <!-- nav  -->
    <nav class="navbar navbar-dark bg-dark navbar-expand">
        <a class="navbar-brand" href="{{ url_for("view_users") }}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for("view_users") }}">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            {% if 'mobile' in session %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item pr-3">
                        <a class="nav-link text-light mr-3">{{ session['mobile'] }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-sm btn-danger" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
    <!-- nav  -->

      
    <div class="container alert-msg">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
            Member Data successfully saved.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    </div>
    <div class="container mt-5 edit-form">
        <h2 class="mb-3">Details of the Member</h2>
        <form action="" method="post" id="edit-form">
            <input type="hidden" name="member_id" id="member_id">
            <div class="row">
                <div class="col-sm-3">
                    <label for="companyName">Company Name</label>
                    <input type="text" class="form-control" id="companyName" name="companyName" value="{{ obj.company_name }}" placeholder="Enter company name">
                </div>
                <div class="col-sm-3">
                    <label for="name">Name</label>
                    <div class="d-flex">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" disabled>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModelForm" onclick="changeName();"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></button>    
                    </div>

                </div>
                <div class="col-sm-3">
                    <label for="dob">Date of Birth</label>
                    <input type="date" class="form-control" id="dob" name="dob">
                </div>
                <div class="col-sm-3">
                    <label for="dom">Date of Marriage</label>
                    <input type="date" class="form-control" id="dom" name="dom">
                </div>
            </div>
             
            <div class="row">
                <div class="col-sm-3">
                    <label for="bloodGrp">Blood Group</label>
                    <input type="text" class="form-control" id="bloodGrp" name="bloodGrp" placeholder="Enter blood group">
                </div>
                <div class="col-sm-3">
                    <label for="occupation">Occupation</label>
                    <input type="text" class="form-control" id="occupation" name="occupation" placeholder="Enter occupation">
                </div>
                <div class="col-sm-3">
                    <label for="education">Education</label>
                    <input type="text" class="form-control" id="education" name="education" placeholder="Enter education">
                </div>
                <div class="col-sm-3">
                    <label for="spouse">Spouse Name</label>
                    <input type="text" class="form-control" id="spouse" name="spouse" placeholder="Enter spouse name">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <label for="email1">Email 1</label>
                    <input type="email" class="form-control" id="email1" name="email1">
                  </div>
                <div class="col-sm-3">
                    <label for="spouseBg">Spouse Blood Group</label>
                    <input type="text" class="form-control" id="spouseBg" name="spouseBg" placeholder="Enter spouse blood group">
                </div>
                <div class="col-sm-3">
                    <label for="spouseOccupation">Spouse Occupation</label>
                    <input type="text" class="form-control" id="spouseOccupation" name="spouseOccupation" placeholder="Enter spouse occupation">
                </div>
                <div class="col-sm-3">
                    <label for="spouseDob">Spouse Date of Birth</label>
                    <input type="date" class="form-control" id="spouseDob" name="spouseDob">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="child1">Child 1 Name</label>
                    <input type="text" class="form-control" id="child1" name="child1" placeholder="Enter child 1 name">
                </div>
                <div class="col-sm-3">
                    <label for="child2">Child 2 Name</label>
                    <input type="text" class="form-control" id="child2" name="child2">
                </div>
                <div class="col-sm-3">
                    <label for="child3">Child 3 Name</label>
                    <input type="text" class="form-control" id="child3" name="child3">
                </div>
                <div class="col-sm-3">
                    <label for="child4">Child 4 Name</label>
                    <input type="text" class="form-control" id="child4" name="child4">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="child1Dob">Child 1 Date of Birth</label>
                    <input type="date" class="form-control" id="child1Dob" name="child1Dob">
                </div>
                <div class="col-sm-3">
                    <label for="child2Dob">Child 2 Date of Birth</label>
                    <input type="date" class="form-control" id="child2Dob" name="child2Dob">
                </div>
                <div class="col-sm-3">
                    <label for="child3Dob">Child 3 Date of Birth</label>
                    <input type="date" class="form-control" id="child3Dob" name="child3Dob">
                </div>
                <div class="col-sm-3">
                    <label for="child4Dob">Child 4 Date of Birth</label>
                    <input type="date" class="form-control" id="child4Dob" name="child3Dob">
                </div>
            </div>

              
              <div class="row">
                <div class="col-sm-3">
                    <label for="phone1">Phone 1</label>
                    <input type="tel" class="form-control" id="phone1" name="phone1">
                </div>
                <div class="col-sm-3">
                  <label for="phone2">Phone 2</label>
                  <input type="tel" class="form-control" id="phone2" name="phone2">
                </div>
                <div class="col-sm-3">
                  <label for="mobile1">Mobile 1</label>
                  <input type="tel" class="form-control" id="mobile1" name="mobile1">
                </div>
                <div class="col-sm-3">
                  <label for="mobile2">Mobile 2</label>
                  <input type="tel" class="form-control" id="mobile2" name="mobile2">
                </div>
              </div>
              
              <div class="row">
                <div class="col-sm-3">
                  <label for="email2">Email 2</label>
                  <input type="email" class="form-control" id="email2" name="email2">
                </div>
                <div class="col-sm-3">
                  <label for="website">Website</label>
                  <input type="text" class="form-control" id="website" name="website">
                </div>
                <div class="col-sm-6">
                    <label for="geo_location">Geo Location</label>
                    <div class="d-flex">
                        <input type="text" class="form-control" id="geo_location" name="geo_location" disabled>
                        <button type="button" id="get-location-btn" class="btn btn-primary" data-toggle="modal" data-target="#editModelFormGeo" ><span><i class="fa fa-compass" aria-hidden="true"></i></span></button>
                    </div>
                </div>
              </div>    
              
            <div class="row">
                <div class="col-sm-6">
                  <label for="work_address">Work Address</label>
                  <textarea  class="form-control" id="work_address" name="work_address"></textarea>
                </div>
                <div class="col-sm-6">
                  <label for="residence_address">Residence Address</label>
                  <textarea class="form-control" id="residence_address" name="residence_address"></textarea>
                </div>
            </div>      
            <!-- <button type="submit" class="btn btn-primary" onclick="onSave();">Save</button> -->
            <a href="/users" class="btn btn-danger">Cancel</a>
    </form>
    </div>

   

    <script src="{{ url_for('static', filename='bootstrap/js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <script>
        var user_obj = JSON.parse('{{ obj | tojson | safe }}');
        console.log(user_obj)
    </script>
    
    <script>
        $(document).ready(function() {
            editForm();
        })
        $("input").prop('disabled', true);
        $("input#editField").prop('disabled', false);
        $("textarea").prop('disabled', true);
    </script>
</body>
</html>